*{
    font-family: "Microsoft Yahei";
}



@font-face{
    font-family: "Liquid";
    src:url(../fonts/Liquid.ttf);
}
a:link,
a:visited,
a:hover,
a:active{
 text-decoration: none;
}
.container{
    width:1230px;     /*row会外扩15px*2,所以设置时减少30px*/
    margin: 0 auto;
    padding: 0;
}


/*公用的头部*/
.base .header{
    width: 100%;
    height:65px;
    background-color: #1e66d0;
}
.base .logo{
    float: left;
}
.userbar{
    float: right;
}
.userbar ul.usernav{
    margin-bottom: 0;      /*清除原有样式*/
}
.base li.navli{
    position: relative;
    margin-left: 20px;
    list-style: none;
    float: left;
    height: 65px;
    line-height: 65px;  /*让一行内容竖向居中*/
}
.base li.navli >a{
    color: #bbd5fb;
    font-size: 1.28em;
    padding: 10px;
}
.base li.navli >a:hover{
    color: #fff;
    text-decoration: none;
}
.base li.navli >a>span:first-child{
    display: inline-block;
    margin-right: 5px;
}
.base li.navli ul.quit{
    position: absolute;
    top: 50px;
    left: 20px;
    min-width:120px;
    height: 30px;
    line-height: 20px;
    text-align: center;
}
.base li.navli ul.quit>a{
    display: block;
    font-size: 1.14em;
}

/*事件页面切换条*/
.nav-tab{
    width: 100%;
    background-color: #1956b3;
}
.nav-tab ul.tab-event{
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;    /*修改默认值*/
}
.nav-tab ul.tab-event li{
    padding: 15px 0;
    border-left: 1px solid #1e66d0;
}
.nav-tab ul.tab-event li:last-child{
    border-right: 1px solid #1e66d0;   
}

/*悬停颜色*/
/*.nav-tab ul.tab-event li:hover{
    background: #0d4eae;
}*/

.nav-tab ul.tab-event li a{
    display: block;
    color: #fff;
    font-size: 1.28em;
}
.nav-tab ul.tab-event li a:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:33px;
    height: 27px;
    margin-right: 15px;
    text-align: center; 
}
.nav-tab ul.tab-event li:first-child a:before{
    background: url(../images/event-1.png) no-repeat center center;
}
.nav-tab ul.tab-event li:nth-child(2) a:before{
    background: url(../images/event-2.png) no-repeat center center;
}
.nav-tab ul.tab-event li:nth-child(3) a:before{
    background: url(../images/event-3.png) no-repeat center center;
}

.tab_selected{
    background-color: #154da1;
    -webkit-box-shadow:inset 0 0 10px #124188;   
       -moz-box-shadow:inset 0 0 10px #124188;   
            box-shadow:inset 0 0 10px #124188;   
} 


/*分模块样式*/
.gap{
    margin-bottom: 10px;
}
.form-gap{
    /*padding:10px 0;*/
}

.label-right{
    color:#7d7d7d;
    text-align: right;
    padding-right: 0;
    font-size: 1em;
    /*width: 120px;*/
}

.top_nav{
    width:100%;
}
.top_nav >ul{
    margin: 0;
    padding-left: 0;     /*清除默认样式*/
    width: 100%;
}
.top_nav >ul>li:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.top_nav >ul>li{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 10px;
    background-color: #1e66d0;
    color:#fff;
    font-size: 1.14em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bottom_box{
    border:1px solid #b8b8b8;
    border-top:none;
    background-color: #f6f6f6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*暂定的容器大小*/
    /*height: 391px;*/
}
.bottom_whitebox{
    border:1px solid #b8b8b8;
    border-top:none;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*每条事件detail*/
.news ul{
   margin: 0;
   padding: 0;
}
ul.new{
    margin: 0;
    padding:0;
}
.news ul.num{
   margin: 0;
   padding: 0;
}

li.new_detail{
    list-style: none;
    padding:10px;
    border-bottom: 1px solid #b8b8b8;
}
li.num{
    /*list-style:decimal inside;  */
    height: 78px;
    color: #666;
}
li.new_detail:last-child{
    border-bottom: none;
}

li.new_detail h5{
    margin: 0;
    padding:0;
    font-size: 1.14em;
}
li.new_detail div.row{
    font-size: 1em;
    color: #666;
}
li.new_detail div.row span:nth-child(2){
    font-size: 1.7em;
}
li.new_detail div>span:nth-child(2){
    font-size: 1.7em;
}
 
.time_bar .more{
    display: block;
}

.top_blue{
    color: #1f74f2;
}
.font_liquid{
    font-family: "Liquid";
    vertical-align: middle;
    font-weight: 700;
}
.red_now{
    display: inline-block;
    margin-left: 5px;
    padding: 3px;
    border-radius:2px;
    background: #D40052;
    color: #fff;
    font-weight: 600;
}

/*所有的弹窗位置*/
.popup-position{
    margin-top: 200px;
}

/*蓝色柱状条*/
.bluebar{
  display: inline-block;
  margin-right: 5px;
  width: 4px;
  height: 25px;
  background: #1E66D0;
  vertical-align: middle;
}

/*关键转折点倾向标注*/
.key_green{
    color:#7EAD69;
}
.key_orange{
    color: #FDA125;
}
.key_blue{
    color: #1E66D0;
}

/*按钮*/
.add_btn{
    padding-left:30px;
    padding-right: 30px;
    width: 100%;
}
.add_btn:hover{
    color: #fff;
    background-color: #1e66d0;
    -webkit-transition:color .5s linear,background-color .5s linear;
        -moz-transition:color .5s linear,background-color .5s linear;
          -o-transition:color .5s linear,background-color .5s linear;
             transition:color .5s linear,background-color .5s linear;
}

/*公用的页尾*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    color: #666;
}
.outfooter{
    margin-top: 2em;
    text-align: center;
    font-size: 0.85em;
    color: #666;
}


#logout:hover{
    cursor: pointer;
}