/*主页*/
.home .schbox_top{
    margin: 2.5em auto 1em;
    text-align: center;
}
.home .content form .searchbox{
    position: relative;
    margin-bottom: 5px;
}
.home .content form .searchbox input{
    width:100%;
    height: 40px;
    text-indent: 1em;
    border-radius: 4px;
}
.home .content form .searchbox input:focus{
    outline: none;
}
.home .content form .searchbox button{
    position: absolute;
    top:10px;
    right: -10px;
}
.home .content form .demoWords>span{
    font-size: 1em;
    color: #666;
}
.home .content form .demoWords a{
    
    padding: 0 0.3em;
}

.home .content form .demoWords a:hover{
    cursor: pointer;
}

.home .content >.row:nth-child(1){
    margin-bottom: 100px;
}

/*状态*/
.state{
    position: absolute;
    top:-12px;
    right: 10px;
}
.state span{
    border-radius: 4px;
    border-bottom: 1px solid #333;
    color: #fff;
    font-size: 1.24em;
}
.stateNew{
    padding: 3px 8px;
    background: #F1A230;
}
.stateNow{
    padding: 3px 6px;
    background: #F01227;
}

/*分平台*/
.platform .pf_nav >ul{
    margin: 0;
    padding-left: 0;     /*清除默认样式*/
    width: 100%;
    background: #1e66d0;
}
.platform .pf_nav >ul >li{
    list-style: none;
    float: left;
    padding: 0;
    text-align: center; 
    background-color: #1e66d0;
    font-size: 1.14em;
}
.platform .pf_nav >ul >li>a{
    display: block;
    padding: 5px 0;
    color: #fff;
}
.platform .pf_nav >ul >li.selected{
    background-color: #1956b3;
}  
.platform .pf_nav >ul li:first-child{
    border-top-left-radius: 4px;
}
.platform .pf_nav >ul li:last-child{
    border-top-right-radius: 4px;
}
.platform .pf_nav >ul a#pf_more{
    color:#fff;
}
.platform .pf_nav >ul li:last-child>ul.more{
   min-width:100px;
   text-align: center;
   font-size: 1em;
}
.platform .pf_nav >ul li:last-child>ul.more a{
   color: #666; 
}
.platform .pf_nav >ul li:last-child>ul.more a:hover{
    color:#fff;
    background-color:#2576ef;
}
.pf_box{
    width:100%;      
}
.hide_new{
    display: none;
}

/*分平台容器的尺寸*/
div.tab-pane{
    width: 100%;
    height: 390px;
}


span.text_center{
    display: block;
    width: 100px;
    height: 20px;
    margin: 0 auto;
}


.bottom_box .news{
    height:390px;
}

/*修改默认定义的样式*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
    color: #000;
    background-color: #fff;
}








.tab_hover{
    -webkit-transition-property:background-color;  /*应用过渡的属性*/
    -webkit-transition-duration:500ms;  /*过渡持续时间*/
    background-color:#1956b3;   
}     


.search_content{
    margin-bottom: 50px;
    overflow: hidden;
}


/*搜索页面*/
.search_content li.new_detail{
    margin: 0;
}
.search_content li.new_detail h5{
    margin: 0;
    padding:0;
    font-size: 1.14em;
    line-height: 34px;
    width: 100%;
    height: 34px;
    overflow:hidden;
}
.search_content li.new_detail:last-child{

}

#searchScroll{ 
    width: 100%;
    overflow:hidden;
 }

#searchScroll .none{
    font-size: 2em;
    text-align: center;
    line-height: 1.5;
}




@media(max-width: 1260px){
    .container{
        width:960px;     /*row会外扩15px*2,所以设置时减少30px*/
    }


    li.num{
        height: 70px;
    }
    li.new_detail:last-child{
        border-bottom: none;
    }

    li.new_detail h5{
        font-size: 1em;
    }
    li.new_detail div.row{
        font-size: 0.85em;
    }
    li.new_detail div.row span:nth-child(2){
        font-size: 1.5em;
    }
    li.new_detail div>span:nth-child(2){
        font-size: 1.5em;
    }

    .hotEvent div.news{
        height: 350px;
    }
    
    /*分平台容器的尺寸*/
    div.tab-pane{
        height: 350px;
    }
     
}
#eventCat li:hover{
    cursor: pointer;
}

.search_content .news{
    height: auto;
}