.events .content{
    margin-top: 20px;
}
/*切换*/
.nav-tab{
    width: 100%;
    background-color: #1956b3;
}
.nav-tab ul.tab-event{
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;    /*修改默认值*/
}
.nav-tab ul.tab-event li{
    padding: 15px 0;
    border-left: 1px solid #1e66d0;
}
.nav-tab ul.tab-event li:last-child{
    border-right: 1px solid #1e66d0;   
}
.nav-tab ul.tab-event li a{
    display: block;
    color: #fff;
}

.tab_selected{
    background-color: #154da1;
    -webkit-box-shadow:inset 0 0 10px #124188;   
       -moz-box-shadow:inset 0 0 10px #124188;   
            box-shadow:inset 0 0 10px #124188;   
} 



/*page1*/



/*进度条*/
.valuewrap{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 20px;
    border:none;
    background-color: #f6f6f6;
}
.valuewrap >div.value{
    position: relative;
    height: 20px;
    border:none;
    background-image: linear-gradient(to right,#1956B3,#2774E6);
}
.valuewrap >div.value>span{
    position: absolute;
    right: -30px;
    color: #2774E6;
    font-weight: 600;
    font-size: 1.25em;
}


/*事件简介*/
.event_main{
    height: 270px;   /*有上下padding:10px*/
}
.event_main>p{
    padding: 10px;
    line-height: 1.8em;
    overflow: hidden;
}
/*图表*/
#main1{
    width: 100%;
    height: 250px;
}
#main2{
    width: 100%;
    height: 250px;
}
#main3{
    width: 100%;
    height: 360px;
}
.media_pie{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: #ccc;
}
#main4{
    width: 100%;
    height: 300px;
}
#main6{
    width: 100%;
    height: 300px;
}
#main7{
    width: 100%;
    height: 300px;
}
#main8{
    width: 100%;
    height: 200px;
}

/*page2,page3*/
h1.h_title{
    margin: 0 auto 1em;
    font-size:1.5em;
    text-indent: 15px;
    color: #7d7d7d;
}


/*page2*/







/*page3*/

/*切换*/
#viewpoint .spread-tab{
    width: 100%;
    font-size: 1.25em;
}
#viewpoint .spread-tab ul.pt_tab{
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;    /*修改默认值*/
}
#viewpoint .spread-tab ul.pt_tab li{
    padding: 5px 0;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}
#viewpoint .spread-tab ul.pt_tab li:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#viewpoint .spread-tab ul.pt_tab li:last-child{
    border-right: 1px solid #b8b8b8;   
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#viewpoint .spread-tab ul.pt_tab li a{
    display: block;
    color: #000;
}
#viewpoint .pt_tab_selected{
    background-color: #1E66D0;
}
#viewpoint .spread-tab ul.pt_tab li.pt_tab_selected  a{
    color: #fff;   
}


@media(max-width: 1260px){
    .container{
        width:960px;     /*row会外扩15px*2,所以设置时减少30px*/
    }
}