<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>危机公关首页</title>
    <meta name="Resource-type" content="Document" />
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="Public/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="Public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Public/css/buttons.css" />
    <link rel="stylesheet" type="text/css" href="Public/css/base.css" />
    <link rel="stylesheet" type="text/css" href="Public/css/crisis_home.css" />
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="Public/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="Public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="Public/js/getId.js"></script>
    <script type="text/javascript" src="Public/js/bootstrap.js"></script>
    <script type="text/javascript" src="Public/js/jquery.nicescroll.js"></script>  
    <script type="text/javascript" src="Public/js/underscore.js"></script>    
</head>
<body>
    <div class="home base">
    <!-- header start -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="logo"><a href="index.html"><img src="Public/images/logo.png" alt="logo"></a></div>
                        <div class="userbar">
                            <ul class="usernav clearfix">
                                <li class="navli dropdown">
                                    <a id="dLabel1" data-target="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        <span class="username"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu quit" aria-labelledby="dLabel1">
                                        <li id="logout">退出</li>
                                    </ul>
                                </li>
                                <li class="navli">
                                    <a href="manager.html">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        <span>后台管理</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- header end -->
    <!-- content start -->
        <div class="content container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="schbox_top"><img src="Public/images/banner.png" alt="banner"></div>
                    <form action="/">
                        <div class="searchbox">
                            <label for="schword" class="hold_label"></label>
                            <input type="text" id="schword" name="word">
                            <button id="gosearch" class="button button-raised button-primary button-circle button-jumbo"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                        <div id="demoWords_toe" class="demoWords">
                            <span>搜索关键词推荐：</span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- row 1 end -->
            <div class="row crisisplatform">
              <!-- hotEvent -->
                <div class="col-md-6 hotEvent">
                   <div class="top_nav clearfix">
                       <ul class="clearfix">
                           <li>近期热点事件</li>
                       </ul>
                   </div>
                   <div class="bottom_box">
                        <div class="news">
                            <ul>
                               
                               
                            </ul>
                        </div>
                   </div>
                </div>

                <!-- platform start-->
                <div class="col-md-6 platform">
                  <div class="pf_nav clearfix">
                      <ul class="row" role="tablist" id="eventCat">
                      
                      </ul>
                  </div>
                  <!-- Tab panes -->
                  <div class="tab-content bottom_box">
                    <div role="tabpanel" class="tab-pane active" id="eventList">
                      <div class="news">
                          <ul>
                              
                            
                          </ul>
                      </div>
                    </div>
                  </div>
                  <!-- bottom_box end -->
                </div>
                <!-- platform end -->
            </div>
            <!-- row 2 end -->

<div class="search_content" style="display:none;">
               <div class="col-md-12">
                  <div class="top_nav clearfix">
                      <ul class="clearfix">
                          <li>搜索关键词</li>
                      </ul>
                  </div>
                  <div class="bottom_box">
                       <div class="news">
                           <ul id="searchScroll" >
                              
                           </ul>
                       </div>
                  </div>
               </div>
            </div>
            
            
        </div>
    <!--  content end -->
        <div class="footer clearfix">
          <div class="container">
            <p>&copy2012-2016&nbspzhiweidata.com,All Rights Reserved.京ICP备13015804号-2 京公网安备11010802014372号</p>
          </div>
        </div>
    </div>



<script src="Public/js/index.js"></script>
   

<script type="text/template" id="searchContentTpl">

<%_.each(data,function(e,index){%>
<li class="new_detail row">
  <div class="col-md-6">
     <h5><a href="eventAll.html?id=<%=e.id%>" target="_blank"><%=(index+1)%><%="."%><%=e.name%></a></h5>
  </div>
   <div class="col-md-6">
        <div class="col-md-6" style="padding-right:0px">
            <span>事件影响力指数：</span>
            <span class="top_blue"><%=parseInt(e.impact)%></span>
        </div>
        <div class="col-md-6">
            <span>事件危机评级：</span>
            <span class="top_blue"><%=e.eventLevel%></span>
        </div>
    </div>
 </li>
<%})%>

</script>


<script type="text/template" id="typeTpl">

<%_.each(lists,function(e,index){%>
  <li class="num new_detail">
    <h5><a href="eventAll.html?id=<%=e.id%>" target="_blank"><%=(index+1)%><%="."%><%=e.name%></a></h5>
    <div class="col-md-10">
         <div class="row">
         <div class="col-md-6" style="padding-right:0px">
             <span>事件影响力指数：</span>
             <span class="top_blue"><%=parseInt(e.impact)%></span>
         </div>
         <div class="col-md-6">
             <span>事件危机评级：</span>
             <span class="top_blue"><%=e.eventLevel%></span>
         </div>
     </div>
     </div>
  </li>
<%})%>

</script>

<script type="text/template" id="eventCatTpl">
  
<% if(cat.length<=6){%>
<% _.each(cat,function(e,i){ %>
<li class="cat col-md-2 <%=i?'':'selected'%>" id="<%=e.id%>"><a><%=e.eventType%></a></li>
<% })%>
<%}else{   catShow=cat.slice(0,5);catHide=cat.slice(5)   %>
  <% _.each(catShow,function(e,i){ %>
  <li class="cat col-md-2 <%=i?'':'selected'%>" id="<%=e.id%>"><a><%=e.eventType%></a></li>
  <% })%>
  <li role="presentation" class="cat dropdown col-md-2" >
          <a class="dropdown-toggle"  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >更多 <span class="caret"></span></a>
          <ul class="dropdown-menu more"  id="myTabDrop1-contents">
          <% _.each(catHide,function(e,i){ %>
             <li id="<%=e.id%>" class="cat"><a ><%=e.eventType%></a></li>
          <% })%>        
          </ul>
  </li>
<%}%>

</script>

</body>
</html>