<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login"><a data-toggle="dropdown" class="dropdown-toggle user-link">BlueMadao<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="login.html" class="link">登录</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <form action="" method="post" id="assay-edit" class="assay-edit" style="padding-top: 50px;">
                <div>
                    <div class="form-group title">
                        <label for="title">
                            标题：
                        </label>
                        <input type="text"  id="title" name="title" class="form-control " v-model="assay.title">
                    </div>
                    <div class="form-group source">
                        <label for="sourceUrl">
                            信息来源URL：
                        </label>
                        <input type="text" id="sourceUrl" name="sourceUrl" class="form-control" v-model="assay.sourceUrl">
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="title">
                            发布部门：
                        </label>
                        <select name="department" id="department" class="form-control" v-model="assay.department">
                            <option value="" v-bind:selected="!assay.department">发布部门：</option>
                            <option v-for="department in departments" :value="department.id" v-bind:selected="assay.department==department.id">{{department.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="policy">政策类型：</label>
                        <select name="policyType" id="policyType" class="form-control" v-model="assay.policyType">
                            <option :value="0" v-bind:selected="!assay.policyType">政策类型：</option>
                            <option v-for="policy in policys" :value="policy.id" v-bind:selected="assay.policy==policy.id">{{policy.name}}</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <label for="province">所在区域：</label>
                        <select name="province" id="province" v-model="assay.province" class="form-control" v-on:change="getCitys">
                            <option selected :value="0"> 省</option>
                            <option v-for="province in provinces" :value="province.id">{{province.abbreviation}}</option>
                        </select>
                        <select name="city" id="city" v-model="assay.city" class="form-control" v-on:change="getCountys">
                            <option selected :value="0"> 市</option>
                            <option v-for="city in citys" :value="city.id">{{city.abbreviation}}</option>
                        </select>
                        <select name="county" id="county" v-model="assay.county" class="form-control">
                            <option selected :value="0"> 县</option>
                            <option v-for="county in countys" :value="county.id">{{county.abbreviation}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="technology">技术领域：</label>
                        <select name="technology" id="technology" v-model="assay.industryOne" class="form-control" v-on:change="getSeconds">
                            <option selected :value="0" >一级分类</option>
                            <option v-for="technology in technologys" :value="technology.id">{{technology.name}}</option>
                        </select>
                        <select name="technology-second" id="technology-second" v-model="assay.industryTwo" class="form-control">
                            <option selected :value="0" >二级分类：</option>
                            <option v-for="technology_second in technologys_second" :value="technology_second.id">{{technology_second.name}}</option>
                        </select>
                    </div>
                </div>
                <textarea id="editor" name="conrtent" v-model="assay.content">
                </textarea>
                <p>
                    <button v-if="!assay.id" type="submit" v-on:click="submit($event)" class="btn btn-default" v-bind:disabled="beAble">提交</button>
                    <button v-if="assay.id" type="submit" v-on:click="update($event)" v-bind:disabled="beAble" class="btn btn-default">更新</button>
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/ckeditor-dev-master/ckeditor.js"></script>
<script src="js/assay-edit.js"></script>
<script src="js/edit.js"></script>

</html>
