<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">BlueMadao<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="manager-login.html" v-if="!user.username" class="link">登录</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-manager-industry manager-warp">
                <h3>后台管理-行业管理</h3>
                <div class="left-manager">
                    <ul class="manager-list list-unstyled">
                        <li> <a href="manager-policy.html">政策类型管理</a></li>
                        <li> <a href="manager-area.html">区域维护管理</a></li>
                        <li> <a href="manager-industry.html">行业维护管理</a></li>
                        <li> <a href="manager-user.html">后台用户管理</a></li>
                    </ul>
                </div>
                <div class="right-manager">
                    <div class="industry-manager">
                        <div class="first-cat part" id="industry-main-manager">
                            <h4>一级分类<button class="btn" v-on:click="addNewMain()"><span class="fa fa-plus"></h4>
                            <div class="cats">
                                <span v-for="mai in mains" v-bind:class="{active:mai.edit,selected:mai.selected}" v-on:click="selectMain(mai,$event)"> {{$index+1}}. <input v-bind:disabled="!mai.edit" type="text" id="{{mai.id}}" v-model="mai.name">
                                <label for="{{mai.id}}">
                                        <i class="fa fa-edit" title="编辑" v-if="!mai.edit" v-on:click="editMain(mai,$event)"></i>
                                </label>
                                <i class="fa fa-save" title="保存" v-if="mai.edit" v-on:click="saveMain(mai,$event)"></i>
                                <i class="fa fa-trash" title="删除" v-on:click="deleteMain(mai,$event)"></i>
                                </span>
                            </div>
                        </div>
                        <div class="second-cat part" id="industry-secondary-manager">
                            <h4>二级分类<button v-if="hasParent" class="btn" v-on:click="addNewSecond()"><span class="fa fa-plus"></h4>
                            <div class="cats">
                            <span v-for="sec in seconds" v-bind:class="{active:sec.edit}"> 
                            {{$index+1}}. <input v-bind:disabled="!sec.edit" type="text" id="{{sec.id}}" v-model="sec.name">
                                <label for="{{sec.id}}">
                                        <i class="fa fa-edit" title="编辑" v-if="!sec.edit" v-on:click="editSecond(sec,$event)"></i>
                                </label>
                                <i class="fa fa-save" title="保存" v-if="sec.edit" v-on:click="saveSecond(sec,$event)"></i>
                                <i class="fa fa-trash" title="删除" v-on:click="deleteSecond(sec,$event)"></i>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/underscore.js"></script>
<script src="js/manager-common.js"></script>
<script src="js/manager-industry.js"></script>

</html>
