<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-manager-login" id="manager-login">
                <h3>后台系统登录</h3>
                <div class="form-group">
                    <div class="input-group">
                        <label for="username">用户名</label>
                        <input id="username" type="text" name="username" placeholder="用户名" v-model="user.username" class="form-control">
                        <p class="control-label">用户名错误 </p>
                    </div>
                    <div class="input-group">
                        <label for="password">密码</label>
                        <input id="password" type="password" v-model="user.password" name="password" placeholder="密码" class="form-control">
                        <p class="control-label">密码错误</p>
                    </div>
                    <div class="input-group">
                        <button @click="login($event)">登录 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/manager-login.js"></script>

</html>
