<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/Vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="manager-login.html" v-if="!user.username" class="link">登录</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-manager-area manager-warp">
                <h3>后台管理-地域管理</h3>
                <div class="left-manager">
                    <ul class="manager-list list-unstyled">
                        <li> <a href="manager-policy.html">政策类型管理</a></li>
                        <li> <a href="manager-area.html">区域维护管理</a></li>
                        <li> <a href="manager-industry.html">行业维护管理</a></li>
                        <li> <a href="manager-user.html">后台用户管理</a></li>
                    </ul>
                </div>
                <div class="right-manager">
                    <div class="area-manager">
                        <div class="provinces part" id="area-province-manager">
                            <h4>省/直辖市</h4>
                            <div class="cats">
                                <span v-bind:class="{active:prov.edit,selected:prov.selected}" v-on:click="getProvince(prov,$event)" v-for="prov in provinces"> {{($index+1)+"."}}
                                    <input id="{{prov.id}}" v-model="prov.name" v-bind:disabled="!prov.edit" type="text"> 
                                    <label for="{{prov.id}}"  title="编辑" v-if="!prov.edit">
                                        <i class="fa fa-edit" v-on:click="editArea(prov,$event)"></i>
                                    </label>
                                    <span class="fa fa-save"  v-if="prov.edit" title="保存" v-if="prov.edit" v-on:click="saveArea(prov,$event)"></span>
                                <i class="fa fa-trash" titel="删除" v-on:click="deleteProvince(prov,$event)"></i>
                                </span>
                            </div>
                        </div>
                        <div class="city part" id="area-city-manager">
                            <h4>市/直辖市的区</h4>
                            <div class="cats">
                                <span v-for="cit in citys" v-bind:class="{active:cit.edit,selected:cit.selected}" v-on:click="getCity(cit,$event)" >              
                               {{($index+1)+"."}}
                                <input id="{{cit.id}}" v-model="cit.name" v-bind:disabled="!cit.edit" type="text"> 
                                <label for="{{cit.id}}"  title="编辑" v-if="!cit.edit">
                                       <i class="fa fa-edit" v-on:click="editArea(cit,$event)"></i>
                                   </label>
                                <span class="fa fa-save"  v-if="cit.edit" title="保存" v-if="cit.edit" v-on:click="saveArea(cit,$event)"></span>
                                <i class="fa fa-trash" titel="删除" v-on:click="deleteCity(cit,$event)"></i>
                                </span>
                            </div>
                            <div class="district part" id="area-county-manager">
                                <h4>县区/直辖市区下的区</h4>
                                <div class="cats"><span> 
1.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
2.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
3.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
4.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
5.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
6.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
7.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
8.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
9.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span><span> 
10.高教园区<i class="fa fa-edit"></i><i class="fa fa-trash"></i></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <p class="copyright">&copy;copyright; </p>
            </div>
        </div>
</body>
<script src="js/underscore.js"></script>
<script src="js/manager-common.js"></script>
<script src="js/manager-area.js"></script>

</html>
