<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="manager-login.html" v-if="!user.username" class="link">登录</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-manager-area manager-warp">
                <h3>后台管理-地域管理</h3>
                <div class="left-manager">
                    <ul class="manager-list list-unstyled">
                        <li> <a href="manager-policy.html">政策类型管理</a></li>
                        <li> <a href="manager-area.html">区域维护管理</a></li>
                        <li> <a href="manager-industry.html">行业维护管理</a></li>
                        <li> <a href="manager-user.html">后台用户管理</a></li>
                    </ul>
                </div>
                <div class="right-manager">
                    <div class="area-manager">
                        <div class="provinces part" id="area-province-manager">

                            <h4>省/直辖市<button class="btn" v-on:click="addNewProvince()"><span class="fa fa-plus"></span></button></h4>
                            <div class="cats">

                                <span v-bind:class="{active:prov.edit,selected:prov.selected}" v-on:click="selectProvince(prov,$event)" v-for="prov in provinces"> 
                                    No.<input type="text" v-model="prov.order" id="{{prov.id}}"  v-bind:disabled="!prov.edit">
                                    简称:<input type="text" v-model="prov.abbreviation"  v-bind:disabled="!prov.edit" >
                                    全称:<input type="text" v-model="prov.locationName" v-bind:disabled="!prov.edit" >
                                    <label for="{{prov.id}}"  title="编辑" v-if="!prov.edit">
                                        <i class="fa fa-edit" v-on:click="editArea(prov,$event)"></i>
                                    </label>
                                    <span class="fa fa-save"  v-if="prov.edit" title="保存" v-if="prov.edit" v-on:click="saveProvince(prov,$event)"></span>
                                        <i class="fa fa-trash" titel="删除" v-on:click="deleteProvince(prov,$index,$event)"></i>
                                </span>
                            </div>
                        </div>
                        <div class="city part" id="area-city-manager">
                            <h4>市/直辖市的区<button v-if="hasParent" class="btn" v-on:click="addNewCity()"><span class="fa fa-plus"></span></button></h4>
                            <div class="cats">
                                <span v-for="cit in citys" v-bind:class="{active:cit.edit,selected:cit.selected}" v-on:click="selectCity(cit,$event)" >              
                              
                               No.<input type="text" v-model="cit.order" id="{{cit.id}}"  v-bind:disabled="!cit.edit">
                                    简称:<input type="text" v-model="cit.abbreviation" v-bind:disabled="!cit.edit" >
                                    全称:<input type="text" v-model="cit.locationName" v-bind:disabled="!cit.edit" >

                                <label for="{{cit.id}}"  title="编辑" v-if="!cit.edit">
                                       <i class="fa fa-edit" v-on:click="editArea(cit,$event)"></i>
                                   </label>
                                <span class="fa fa-save"  v-if="cit.edit" title="保存" v-if="cit.edit" v-on:click="saveCity(cit,$event)"></span>
                                <i class="fa fa-trash" titel="删除" v-on:click="deleteCity(cit,$inedx,$event)"></i>
                                </span>
                            </div>
                        </div>
                         <div class="district part" id="area-county-manager">
                         <h4>县区/直辖市区下的区<button  v-if="hasParent" class="btn" v-on:click="addNewCounty()"><span class="fa fa-plus"></span></button></h4>
                        <div class="cats">
                            <div class="cats">
                                <span v-for="count in countys" v-bind:class="{active:count.edit,selected:count.selected}">              
                                    No.<input type="text" v-model="count.order" id="{{count.id}}" v-bind:disabled="!count.edit">
                                    简称:<input type="text" v-model="count.abbreviation" v-bind:disabled="!count.edit" >
                                    全称:<input type="text" v-model="count.locationName" v-bind:disabled="!count.edit" >

                                <label for="{{count.id}}"  title="编辑" v-if="!count.edit">
                                       <i class="fa fa-edit" v-on:click="editArea(count,$event)"></i>
                                   </label>
                                <span class="fa fa-save"  v-if="count.edit" title="保存" v-if="count.edit" v-on:click="saveCounty(count,$event)"></span>
                                <i class="fa fa-trash" titel="删除" v-on:click="deleteCounty(count,$index,$event)"></i>
                                </span>
                            </div>
    
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <p class="copyright">&copy;copyright; </p>
            </div>
        </div>
</body>
<script src="js/underscore.js"></script>
<script src="js/manager-common.js"></script>
<script src="js/manager-area.js"></script>

</html>
