<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>    
    <script src="./bower_components/jquery/dist/jquery.cookie.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#" v-on:click="loginOut($event)">退出</a></li>
                    </ul>
                </div>
                <a v-if="!user.username" href="login.html" class="link">登录</a>
                <a v-if="hasRegister" href="register.html" class="link">注册</a>
                <a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-search" id="search">
                <h3>搜索{{technology}}</h3>
                <div class="form-inline search-wrap">
                    <div class="form-group">
                        <label for="keyword">关键词：</label>
                        <input type="text" name="keyword" id="keyword"  v-on:keypress="noRes" v-model="searchParams.keyword" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="policy">政策类型：</label>
                        <select name="policy" id="policy" v-model="searchParams.policy" class="form-control">
                            <option value="" v-bind:selected="!searchParams.policy">政策类型</option>
                            <option v-for="policy in policys" v-bind:value="policy" v-bind:selected="searchParams.policy==policy.id">{{policy.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <input type="text" readonly  class="start-time form-control"  data-date-format="yyyy-mm-dd" v-model="searchParams.startTime" placeholder="开始时间">
                      <input type="text" readonly  class="end-time form-control" data-date-format="yyyy-mm-dd" v-model="searchParams.endTime" placeholder="结束时间">
                    </div>
                    <div class="form-group">
                        <label for="technology">技术领域：</label>
                        <select name="technology" id="technology" v-model="searchParams.technology" class="form-control" v-on:change="getSeconds">
                            <option selected value="">一级分类</option>
                            <option v-for="technology in technologys" v-bind:value="technology">{{technology.name}}</option>
                        </select>
                        <select name="technology-second" id="technology-second" v-model="searchParams.technology_second" class="form-control">
                            <option selected value="">二级分类</option>
                            <option v-for="technology_second in technologys_second" v-bind:value="technology_second">{{technology_second.name}}</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="province">所在区域：</label>
                        <select name="province" id="province" v-model="searchParams.province" class="form-control" v-on:change="getCitys">
                            <option selected value=""> 省</option>
                            <option v-for="province in provinces"  v-bind:value="province">{{province.abbreviation}}</option>
                        </select>
                        <select name="city" id="city" v-model="searchParams.city" class="form-control" v-on:change="getCountys">
                            <option selected value=""> 市</option>
                            <option v-for="city in citys"  v-bind:value="city">{{city.abbreviation}}</option>
                        </select>
                        <select name="county" id="county" v-model="searchParams.county" class="form-control">
                            <option selected value=""> 县</option>
                            <option v-for="county in countys"  v-bind:value="county">{{county.abbreviation}}</option>
                        </select>
                    </div>
                     <div class="form-group">
                    <button class="btn btn-default" v-on:click="search()"  >搜索 </button>
                    </div>

                </div>
                <div class="search-result">
                    <p>查询结果 </p>


                    <ul class="list-unstyled result">
                        <li v-show="noResult">没有匹配到相关"{{searchParams.keyword}}"的结果</li>
                        <li v-for="list in lists">
                            <p> <a href="server-details.html?assay={{list.key}}" target="_blank">{{{list.title}}}</a></p>
                            <p><span class="source"> <a>{{list.source}}</a></span><span class="time">{{list.time}}</span></p>
                        </li>
                    </ul>
                    <nav v-if="total>1">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" v-on:click="previous($event)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li v-for="page in pages" v-bind:class="{active:page==current}" v-on:click="go(page,$event)" track-by="$index"><a href="#">{{page}}</a></li>
                            <li>
                                <a href="#" aria-label="Next" v-on:click="next($event)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/common.js"></script>
<script src="js/search.js"></script>

</html>
