<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.cookie.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
   <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#" v-on:click="loginOut($event)">退出</a></li>
                    </ul>
                </div>
                <a v-if="!user.username" href="login.html" class="link">登录</a>
                <a v-if="hasRegister" href="register.html" class="link">注册</a>
                <a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">

            <div class="age-server-details" id="server-details">
                <h3 class="text-center"><a href="{{assay.sourceUrl}}" target="_blank">{{assay.title}}</a></h3>

                <div class="server-details-content">
                  <div class="assay-container">
                     {{{assay.content}}}
                  </div>
                    <p class="time"><span>更新时间：{{assay.lastUpdateTime}}</span></p>
                    <div class="share">
                      <div class="bdsharebuttonbox" id="baidu-share" style="float: right;">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                     </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
   
    <script>
            window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>

    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>


<script src="js/common.js"></script>
<script src="js/server-details.js"></script>
</html>
