<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login"><a data-toggle="dropdown" class="dropdown-toggle user-link">BlueMadao<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="login.html" class="link">登录</a><a href="register.html" class="link">注册</a><a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-server" id="serverList">
                <h3>政策服务</h3>
                <div class="server-search" >
                    <div class="pull-right">
                        <label for="search">
                            <input type="search" name="search" v-model="keyword" placeholder="搜索">
                        </label>
                        <button v-on:click="goSearch()"  v-bind:disabled="!keyword">搜索 </button>
                    </div>
                </div>
                <div class="server-wrap">
                    <div class="nav-tabs">
                    <a class="tab" v-for="tab in tabs" v-bind:class="{active:tab.type==active}" v-on:click="listInfo(tab.type,$event)">{{tab.name}}</a>
                    </div>
                    <div class="server-content">
                        <ul class="list-unstyled">
                            <li v-for="list in lists">
                                <p> <a href="server-details.html?assay={{list.key}}">{{list.title}}</a></p>
                                <p> <span class="source"> <a href="{{list.href}}">{{list.source}}</a></span><span class="time">{{list.time}}</span></p>
                            </li>
                            <li class="text-right"><a href="server-more.html#{{active}}">  更多</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/common.js"></script>
<script src="js/server.js"></script>
</html>
