<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login"><a data-toggle="dropdown" class="dropdown-toggle user-link">BlueMadao<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="login.html" class="link">登录</a><a href="register.html" class="link">注册</a><a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-server-more" id="server-more">
                <h3>{{types[type]}}</h3>
                <div class="server-more-content">
                    <ul class="list-unstyled lists">
                        <li v-for="list in lists">
                            <a href="server-details.html#{{list.id}}">
                                <p>{{list.title}}</p>
                                <p><a href={{list.href}}><span class="source">{{list.source}}</span></a><span class="time">{{list.time}}</span></p>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li>
                        <li>
                            <a href="server-details.html">
                                <p>这个旋律无论国语粤语，我脑海中浮现的只有星爷嘴上粘着的那根烟</p>
                                <p><span class="source">网易云</span><span class="time">2016-4-24</span></p>
                            </a>
                        </li> -->
                    </ul>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" v-on:click="previous($event)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li v-for="page in pages" v-bind:class="{active:page==current}" v-on:click="go(page,$event)" track-by="$index"><a href="#">{{page}}</a></li>
                            <li>
                                <a href="#" aria-label="Next" v-on:click="next($event)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/server-more.js"></script>

</html>
