<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login"><a data-toggle="dropdown" class="dropdown-toggle user-link">BlueMadao<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#">退出</a></li>
                    </ul>
                </div><a href="login.html" class="link">登录</a><a href="register.html" class="link">注册</a><a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-user-identity">
                <h3>选择用户类型</h3>
                <div class="user-identidy-wrap">
                    <div class="left">
                        <ul class="list-unstyled">
                            <li><a href="user-identity.html">认证首页</a></li>
                            <li><a href="user-category.html">认证分类 </a></li>
                            <li><a href="user-home.html">返回用户中心 </a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <!--include ./partials/_user_identity_type.jade-->
                        <div class="indentity-index" id="app">
                            <h3>认证分类</h3>

                         <router-view></router-view>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>

<template id="company-tpl">
<div>企业用户认证</div>
                        <div class="user-manager">
                            <div class="identity-progress">
                                <div class="progress-info">
                                    <div class="part">1.选择用户类型</div>
                                    <div class="part">2.填写认证信息</div>
                                    <div class="part">3.上传认证材料</div>
                                    <div class="part">4.审核认证信息</div>
                                    <div class="part">5.认证结果</div>
                                </div>
                                <div class="progress">
                                    <div style="width:20%" class="progress-bar progress-bar-sucess"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-info"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-warning"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-danger"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-primary"></div>
                                </div>
                            </div>
                            <div class="compele-user-info">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="username" class="col-md-3">用户名</label>
                                        <div class="col-md-6">
                                            <input name="username" id="username" type="text" v-model="company.username" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-md-3">密码</label>
                                        <div class="col-md-6">
                                            <input name="password" id="password" type="password" v-model="company.password" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="company-name" class="col-md-3">企业名称</label>
                                        <div class="col-md-6">
                                            <input name="company-name" id="company-name" v-model="company.companyName" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="company-area" class="col-md-3">企业地址</label>
                                        <div class="col-md-6">
                                            <input id="company-area" name="company-area"  v-model="company.companyAddress" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="industry" class="col-md-3">技术领域</label>
                                        <div class="col-md-3">
                                            <select id="industry" name="industryLeveOneId" v-model="company.industryLeveOneId" v-on:change="getIndustryLevelTwo" class="form-control">
                                                <option selected value="0">技术领域</option>
                                                <option v-for="levelOne in industryLevelOnes" value="{{levelOne.id}}">{{levelOne.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select id="industry" name="industryLeveTwoId" v-model="company.industryLeveTwoId" class="form-control">
                                                <option selected value="0">请选择</option>
                                                <option v-for="levelTwo in industryLevelTwos" value="{{levelTwo.id}}">{{levelTwo.name}}</option>
                                            </select>
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-md-3">所属区域</label>
                                        <div class="col-md-2">
                                            <select id="province" name="province" class="form-control" v-on:change="getCitys" v-model="company.province">
                                                <option selected value="0">所属区域</option>
                                                <option v-for="province in provinces" value="{{province.id}}">{{province.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select id="city" name="city" class="form-control" v-on:change="getCountys"  v-model="company.city">
                                                <option selected value="0">请选择</option>
                                                   <option v-for="city in citys" value="{{city.id}}">{{city.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select id="downtown" name="downtown"  v-model="company.downtown" class="form-control">
                                                <option selected value="0">请选择</option>
                                                <option v-for="county in countys" value="{{county.id}}">{{county.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="manager" class="col-md-3">联系人</label>
                                        <div class="col-md-6">
                                            <input id="manager" name="manager" type="text" v-model="company.concat" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel" class="col-md-3">联系电话</label>
                                        <div class="col-md-6">
                                            <input id="tel" name="tel" type="text" v-model="company.phone" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-3">邮箱</label>
                                        <div class="col-md-6">
                                            <input id="email" name="email" type="text" v-model="company.email" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                </form>
                                <button class="pull-right btn btn-default">下一步</button>
                            </div>
                        </div>
</template>


<template id="organization-tpl">
<div>机构用户认证</div>
<div class="user-manager">
                            <div class="identity-progress">
                                <div class="progress-info">
                                    <div class="part">1.选择用户类型</div>
                                    <div class="part">2.填写认证信息</div>
                                    <div class="part">3.上传认证材料</div>
                                    <div class="part">4.审核认证信息</div>
                                    <div class="part">5.认证结果</div>
                                </div>
                                <div class="progress">
                                    <div style="width:20%" class="progress-bar progress-bar-sucess"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-info"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-warning"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-danger"></div>
                                    <div style="width:20%" class="progress-bar progress-bar-primary"></div>
                                </div>
                            </div>
                            <div class="compele-user-info">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="username" class="col-md-3">用户名</label>
                                        <div class="col-md-6">
                                            <input name="username" id="username" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-md-3">密码</label>
                                        <div class="col-md-6">
                                            <input name="password" id="password" type="password" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                       <div class="form-group">
                                        <label  class="col-md-3">所属区域</label>
                                        <div class="col-md-2">
                                            <select id="province" name="province" class="form-control" v-on:change="getCitys" v-model="company.province">
                                                <option selected value="0">所属区域</option>
                                                <option v-for="province in provinces" value="{{province.id}}">{{province.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select id="city" name="city" class="form-control" v-on:change="getCountys"  v-model="company.city">
                                                <option selected value="0">请选择</option>
                                                   <option v-for="city in citys" value="{{city.id}}">{{city.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select id="downtown" name="downtown"  v-model="company.downtown" class="form-control">
                                                <option selected value="0">请选择</option>
                                                <option v-for="county in countys" value="{{county.id}}">{{county.abbreviation}}</option>
                                            </select>
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="care" class="col-md-3">关注行业</label>
                                        <div class="col-md-6">
                                            <input name="care" id="care" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                     <div class="form-group">
                                        <label for="orgName" class="col-md-3">服务机构名称</label>
                                        <div class="col-md-6">
                                            <input name="orgName" id="orgName" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="orgType" class="col-md-3">服务机构类别</label>
                                        <div class="col-md-6">
                                            <select id="orgType" name="orgType"  v-model="orgType" class="form-control">
                                                <option selected value="0">请选择</option>
                                            </select>
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                     <div class="form-group">
                                        <label for="serverArea" class="col-md-3">服务区域</label>
                                        <div class="col-md-6">
                                             <input name="serverArea" id="serverArea" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                   <div class="form-group">
                                        <label for="website" class="col-md-3">网址</label>
                                        <div class="col-md-6">
                                            <input id="website" name="website" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="serverTopic" class="col-md-3">服务主题词</label>
                                        <div class="col-md-6">
                                            <input id="serverTopic" name="serverTopic" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="orgIntroduce" class="col-md-3">机构介绍</label>
                                        <div class="col-md-6">
                                            <input id="orgIntroduce" name="orgIntroduce" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="orgDesc" class="col-md-3">服务内容描述</label>
                                        <div class="col-md-6">
                                            <textarea id="orgDesc" name="orgDesc" type="text" class="form-control"></textarea>
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                      <div class="form-group">
                                        <label for="regAddress" class="col-md-3">注册地址</label>
                                        <div class="col-md-6">
                                            <input id="regAddress" name="regAddress" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                      <div class="form-group">
                                        <label for="canServer" class="col-md-3">可提供服务</label>
                                        <div class="col-md-6">
                                            <input id="canServer" name="canServer" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>


                                    <div class="form-group">
                                        <label for="tel" class="col-md-3">联系人姓名</label>
                                        <div class="col-md-6">
                                            <input id="tel" name="tel" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="tel" class="col-md-3">联系人姓名</label>
                                        <div class="col-md-6">
                                            <input id="tel" name="tel" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="tel" class="col-md-3">联系人手机</label>
                                        <div class="col-md-6">
                                            <input id="tel" name="tel" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-3">固定电话</label>
                                        <div class="col-md-6">
                                            <input id="email" name="email" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-3">部门</label>
                                        <div class="col-md-6">
                                            <input id="email" name="email" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-3">职位</label>
                                        <div class="col-md-6">
                                            <input id="email" name="email" type="text" class="form-control">
                                        </div>
                                        <p class="col-md-3"> </p>
                                    </div>
                                </form>
                                    <button class="pull-right btn btn-default">下一步</button>
                            </div>
                        </div>
</template>


<script src="js/common.js"></script>
<script src="js/user-category.js"></script>

</html>
