<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.cookie.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
</head>

<body>
    <div class="header">
        <div class="container user" id="initUser">
            <div class="logo pull-left">
                <a href="index.html"><img src="" alt="logo"></a>
            </div>
            <div class="pull-right links">
                <div class="dropdown user-login" v-if="user.username"><a data-toggle="dropdown" class="dropdown-toggle user-link">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="user-home.html">个人中心</a></li>
                        <li> <a href="#" v-on:click="loginOut($event)">退出</a></li>
                    </ul>
                </div>
                <a v-if="!user.username" href="login.html" class="link">登录</a>
                <a v-if="hasRegister" href="register.html" class="link">注册</a>
                <a href="about.html" class="link">关于我们</a></div>
        </div>
    </div>
    <div class="center">
        <div class="container">
            <div class="age-user-identity">
                <h3>选择用户类型</h3>
                <div class="user-identidy-wrap">
                    <div class="left">
                        <ul class="list-unstyled">
                            <li><a href="user-identity.html">认证首页</a></li>
                            <li><a href="user-category.html">认证分类 </a></li>
                            <li><a href="user-home.html">返回用户中心 </a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <!--include ./partials/_user_identity_type.jade-->
                        <div class="indentity-index" id="app">
                            <h3>认证分类</h3>
                
                                <div class="cats" id="cats">
                                    
                                    <div class="type"  :class="{'selected':(user.userTypeId=='com')}" @click="select($event,'com')">
                                        <a href="#">企业用户</a>
                                        <div class="desc">注册为企业用户后，您可以获得符合您所在区域、技术领域的个性化政策信息服务，您可以发布服务需求，同时，您还可以通过邮箱等获得及时的重要政策信息及政策研发报告等免费服务</div>
                                    </div>
                                    <div class="type" :class="{'selected':(user.userTypeId=='org')}" @click="select($event,'org')">
                                        <a href="#">机构用户</a>
                                        <div class="desc">注册为服务机构后，您可以在本平台中发布您的服务内容，为您带来新的客户。同时，您可以获得符合您所在区域、技术领域的个性化政策信息服务及政策研发报告等免费服务</div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p class="copyright">&copy;copyright; </p>
        </div>
    </div>
</body>
<script src="js/common.js"></script>
<script src="js/user-category.js"></script>

</html>
